# Trivago Popular Destination Recommender
> Using Recsys 2019 challange Trivago travel dataset to build popularity based model and recommending popular most clicked destinations to the users

- toc: true
- badges: true
- comments: true
- categories: [Trivago, Popularity, Travel]
- image:

## Setup

In [1]:
!pip install -q git+https://github.com/sparsh-ai/recochef.git

  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
     |████████████████████████████████| 4.3MB 7.5MB/s
  Building wheel for recochef (PEP 517) ... done

In [15]:
import math
import pandas as pd
import numpy as np

from recochef.datasets.trivago import Trivago

## Data loading

In [16]:
trivago = Trivago()

In [17]:
df_train = trivago.load_train()
df_train.head()

         USERID      SESSIONID   TIMESTAMP  ...  FILTERS IMPRESSIONS PRICES
0  00RL8Z82B2Z1  aff3928535f48  1541037460  ...     None        None   None
1  00RL8Z82B2Z1  aff3928535f48  1541037522  ...     None        None   None
2  00RL8Z82B2Z1  aff3928535f48  1541037522  ...     None        None   None
3  00RL8Z82B2Z1  aff3928535f48  1541037532  ...     None        None   None
4  00RL8Z82B2Z1  aff3928535f48  1541037532  ...     None        None   None

[5 rows x 12 columns]

In [18]:
df_test = trivago.load_test()
df_test.head()

         USERID  ...                                             PRICES
0  004A07DM0IDW  ...                                               None
1  004A07DM0IDW  ...                                               None
2  004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
3  004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
4  004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...

[5 rows x 12 columns]

## Utilities

In [19]:
GR_COLS = ["USERID", "SESSIONID", "TIMESTAMP", "STEP"]

In [20]:
def get_submission_target(df):
    """Identify target rows with missing click outs."""

    mask = df["REFERENCE"].isnull() & (df["EVENTTYPE"] == "clickout item")
    df_out = df[mask]

    return df_out

In [21]:
def get_popularity(df):
    """Get number of clicks that each item received in the df."""

    mask = df["EVENTTYPE"] == "clickout item"
    df_clicks = df[mask]
    df_item_clicks = (
        df_clicks
        .groupby("REFERENCE")
        .size()
        .reset_index(name="NCLICKS")
        .transform(lambda x: x.astype(int))
    )

    return df_item_clicks

In [22]:
def string_to_array(s):
    """Convert pipe separated string to array."""

    if isinstance(s, str):
        out = s.split("|")
    elif math.isnan(s):
        out = []
    else:
        raise ValueError("Value must be either string of nan")
    return out

In [23]:
def explode(df_in, col_expl):
    """Explode column col_expl of array type into multiple rows."""

    df = df_in.copy()
    df.loc[:, col_expl] = df[col_expl].apply(string_to_array)

    df_out = pd.DataFrame(
        {col: np.repeat(df[col].values,
                        df[col_expl].str.len())
         for col in df.columns.drop(col_expl)}
    )

    df_out.loc[:, col_expl] = np.concatenate(df[col_expl].values)
    df_out.loc[:, col_expl] = df_out[col_expl].apply(int)

    return df_out

In [24]:
def group_concat(df, gr_cols, col_concat):
    """Concatenate multiple rows into one."""

    df_out = (
        df
        .groupby(gr_cols)[col_concat]
        .apply(lambda x: ' '.join(x))
        .to_frame()
        .reset_index()
    )

    return df_out

In [25]:
def calc_recommendation(df_expl, df_pop):
    """Calculate recommendations based on popularity of items.
    The final data frame will have an impression list sorted according to the number of clicks per item in a reference data frame.
    :param df_expl: Data frame with exploded impression list
    :param df_pop: Data frame with items and number of clicks
    :return: Data frame with sorted impression list according to popularity in df_pop
    """

    df_expl_clicks = (
        df_expl[GR_COLS + ["IMPRESSIONS"]]
        .merge(df_pop,
               left_on="IMPRESSIONS",
               right_on="REFERENCE",
               how="left")
    )

    df_out = (
        df_expl_clicks
        .assign(IMPRESSIONS=lambda x: x["IMPRESSIONS"].apply(str))
        .sort_values(GR_COLS + ["NCLICKS"],
                     ascending=[True, True, True, True, False])
    )

    df_out = group_concat(df_out, GR_COLS, "IMPRESSIONS")
    df_out.rename(columns={'IMPRESSIONS': 'ITEM_RECOMMENDATIONS'}, inplace=True)

    return df_out

## Getting popular items

In [29]:
print("Get popular items...")
df_popular = get_popularity(df_train)
df_popular.sort_values(by='NCLICKS', ascending=False).head(10)

Get popular items...

        REFERENCE  NCLICKS
256511       8796      822
253386       8561      763
254018       8621      726
253665       8589      652
45275     1455251      648
253635       8586      634
253989       8618      627
284354    9773310      554
535        100227      539
256679    8805412      525

## Identify target users

In [30]:
print("Identify target rows...")
df_target = get_submission_target(df_test)
df_target.head(10)

Identify target rows...

           USERID  ...                                             PRICES
6    004A07DM0IDW  ...  70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
8    009RGHI3G9A3  ...                                              64|28
10   00Y1Z24X8084  ...  74|14|22|38|55|44|28|34|23|27|12|108|19|21|36|...
15   01V3WDTDM5CU  ...  16|18|20|21|22|22|28|28|28|30|30|33|33|35|35|3...
61   02AOAVF9PVYH  ...  80|81|81|82|82|82|83|83|83|85|85|88|88|91|92|9...
109  0339C84S24ET  ...  185|84|30|19|46|77|123|23|25|25|26|39|73|56|96...
111  0386OH8JDE1Q  ...                      103|88|100|134|109|138|126|86
115  03LTH89QY623  ...  287|300|261|197|163|263|262|188|540|283|211|22...
138  03VT0ODUTZB0  ...  45|67|78|60|58|57|86|68|57|55|148|92|66|55|61|...
314  03XH0JWCWHAM  ...  53|181|60|45|96|60|80|59|41|122|50|43|113|48|5...

[10 rows x 12 columns]

## Recommendations

In [31]:
print("Get recommendations...")
df_expl = explode(df_target, "IMPRESSIONS")
df_out = calc_recommendation(df_expl, df_popular)
df_out.head(10)

Get recommendations...

         USERID  ...                               ITEM_RECOMMENDATIONS
0  000324D9BBUC  ...  924795 106315 1033140 119494 101758 903037 105...
1  0004Q49X39PY  ...  3505150 3812004 2227896 2292254 3184842 222702...
2  0004Q49X39PY  ...  4476010 3505150 3812004 2227896 2292254 222702...
3  00071784XQ6B  ...  22854 3067559 22721 22713 16121 22772 22727 22...
4  0008BO33KUQ0  ...  9857656 5849628 655716 1352530 502066 1405084 ...
5  000GO9NY6P4M  ...  160577 157710 1618677 7231396 483691 1479743 1...
6  000IRHJS2DL9  ...  33191 20144 20166 20154 3054956 346166 102540 ...
7  000JB0UNEH23  ...  3874514 2909994 9503248 2526088 3167136 916982...
8  000OWRCYEHKT  ...  8758048 7195486 1153302 7795438 5416250 898083...
9  000VBY1D6BP8  ...  32230 32233 32256 5411980 32235 6865398 32246 ...

[10 rows x 5 columns]