# dbt Postgres Data Pipeline

### Setup the environment

Install postgresql

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

In [18]:
! lsof -i -P -n | grep -E 'postgres'

postgres  3539 postgres    7u  IPv4  88798      0t0  TCP 127.0.0.1:5432 (LISTEN)
postgres  3539 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994
postgres  3541 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994
postgres  3542 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994
postgres  3543 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994
postgres  3544 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994
postgres  3545 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994
postgres  3546 postgres   11u  IPv4  88809      0t0  UDP 127.0.0.1:41994->127.0.0.1:41994

Install dbt

In [ ]:
!pip install dbt

### Initiate a project

In [4]:
!dbt init dbt_demo

Running with dbt=0.20.1
Creating dbt configuration folder at /root/.dbt
With sample profiles.yml for redshift

Your new dbt project "dbt_demo" was created! If this is your first time
using dbt, you'll need to set up your profiles.yml file (we've created a sample
file for you to connect to redshift) -- this file will tell dbt how
to connect to your database. You can find this file by running:

  xdg-open /root/.dbt

For more information on how to configure the profiles.yml file,
please consult the dbt documentation here:

  https://docs.getdbt.com/docs/configure-your-profile

One more thing:

Need help? Don't hesitate to reach out to us via GitHub issues or on Slack --
There's a link to our Slack group in the GitHub Readme. Happy modeling!

In [1]:
%cd dbt_demo

/content/dbt_demo

In [2]:
!ls -la

total 671064
drwxr-xr-x 11 root root      4096 Aug 26 08:47 .
drwxr-xr-x  1 root root      4096 Aug 26 08:00 ..
drwxr-xr-x  2 root root      4096 Aug 26 08:00 analysis
drwxr-xr-x  2 root root      4096 Aug 26 08:00 data
drwxr-xr-x  2 root root      4096 Aug 26 08:19 dbt_modules
-rw-r--r--  1 root root       366 Aug 26 08:34 dbt_project.yml
-rw-r--r--  1 root root        28 Aug 26 08:00 .gitignore
drwxr-xr-x  2 root root      4096 Aug 26 08:19 logs
drwxr-xr-x  2 root root      4096 Aug 26 08:00 macros
drwxr-xr-x  4 root root      4096 Aug 26 08:22 models
-rw-r--r--  1 root root       566 Aug 26 08:00 README.md
drwxr-xr-x  2 root root      4096 Aug 26 08:00 snapshots
drwxr-xr-x  4 root root      4096 Aug 26 08:19 target
-rw-r--r--  1 root root     12322 Aug 17  2016 taxi+_zone_lookup.csv
drwxr-xr-x  2 root root      4096 Aug 26 08:00 tests
-rw-r--r--  1 root root 687088084 Aug 14  2019 yellow_tripdata_2019-01.csv

### Load sample data into database

In [44]:
# data source - https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2021-08-26 08:47:22--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.172.240
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.172.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 687088084 (655M) [text/csv]
Saving to: ‘yellow_tripdata_2019-01.csv’

yellow_tripdata_201 100%[===================>] 655.26M  47.7MB/s    in 13s

2021-08-26 08:47:34 (52.3 MB/s) - ‘yellow_tripdata_2019-01.csv’ saved [687088084/687088084]

--2021-08-26 08:47:34--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.82.179
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.82.179|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2021-08-26 08:47:35 (136 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [3]:
import pandas as pd

yellow_tripdata_2019_df = pd.read_csv('yellow_tripdata_2019-01.csv')
yellow_tripdata_2019_df.head()

   VendorID tpep_pickup_datetime  ... total_amount  congestion_surcharge
0         1  2019-01-01 00:46:40  ...         9.95                   NaN
1         1  2019-01-01 00:59:47  ...        16.30                   NaN
2         2  2018-12-21 13:48:30  ...         5.80                   NaN
3         2  2018-11-28 15:52:25  ...         7.55                   NaN
4         2  2018-11-28 15:56:57  ...        55.55                   NaN

[5 rows x 18 columns]

In [11]:
yellow_tripdata_2019_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [12]:
yellow_tripdata_2019_df = yellow_tripdata_2019_df[['VendorID',
                                                   'tpep_pickup_datetime',
                                                   'tpep_dropoff_datetime',
                                                   'passenger_count',
                                                   'PULocationID',
                                                   'DOLocationID',
                                                   'fare_amount']]

yellow_tripdata_2019_df.columns = ['vendor_id',
                                   'pickup_datetime',
                                   'dropoff_datetime',
                                   'passenger_count',
                                   'pickup_location_id',
                                   'dropoff_location_id',
                                   'fare_amount']

In [13]:
yellow_tripdata_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 7 columns):
 #   Column               Dtype
---  ------               -----
 0   vendor_id            int64
 1   pickup_datetime      object
 2   dropoff_datetime     object
 3   passenger_count      int64
 4   pickup_location_id   int64
 5   dropoff_location_id  int64
 6   fare_amount          float64
dtypes: float64(1), int64(4), object(2)
memory usage: 409.5+ MB

In [5]:
taxi_zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')
taxi_zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
taxi_zone_lookup.columns = ['locationid','borough','zone','service_zone']

In [10]:
taxi_zone_lookup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   locationid    265 non-null    int64
 1   borough       265 non-null    object
 2   zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [14]:
from sqlalchemy import create_engine
import psycopg2

alchemyEngine = create_engine('postgresql+psycopg2://postgres:postgres@127.0.0.1/postgres', pool_recycle=3600);
postgreSQLConnection = alchemyEngine.connect();

yellow_tripdata_2019_df.sample(100000).to_sql('yellow_tripdata_sample_2019_01', postgreSQLConnection, if_exists='replace');
taxi_zone_lookup.to_sql('taxi_zone_lookup', postgreSQLConnection, if_exists='replace');

postgreSQLConnection.close();

### Configure the project

In [12]:
!ls ~ -la

total 68
drwx------ 1 root root 4096 Aug 26 08:00 .
drwxr-xr-x 1 root root 4096 Aug 26 07:27 ..
-r-xr-xr-x 1 root root 1169 Jan  1  2000 .bashrc
drwxr-xr-x 1 root root 4096 Aug 26 07:54 .cache
drwxr-xr-x 1 root root 4096 Aug 18 13:19 .config
drwxr-xr-x 2 root root 4096 Aug 26 08:00 .dbt
drwxr-xr-x 3 root root 4096 Aug 17 13:20 .gsutil
drwxr-xr-x 1 root root 4096 Aug 18 13:19 .ipython
drwx------ 2 root root 4096 Aug 18 13:19 .jupyter
drwxr-xr-x 2 root root 4096 Aug 26 07:27 .keras
drwx------ 1 root root 4096 Aug 18 13:19 .local
drwxr-xr-x 4 root root 4096 Aug 18 13:19 .npm
-rw-r--r-- 1 root root  148 Aug 17  2015 .profile
-r-xr-xr-x 1 root root  254 Jan  1  2000 .tmux.conf

In [13]:
!ls ~/.dbt -la

total 16
drwxr-xr-x 2 root root 4096 Aug 26 08:00 .
drwx------ 1 root root 4096 Aug 26 08:00 ..
-rw-r--r-- 1 root root  456 Aug 26 08:00 profiles.yml

In [19]:
%%writefile ~/.dbt/profiles.yml
default:
  outputs:
    dev:
      type: postgres
      threads: 1
      host: localhost
      port: 5432
      user: postgres
      pass: postgres
      dbname: postgres
      schema: public
    prod:
      type: postgres
      threads: 1
      host: localhost
      port: 5432
      user: postgres
      pass: postgres
      dbname: postgres
      schema: public
  target: dev

Overwriting /root/.dbt/profiles.yml

In [20]:
!dbt debug

Running with dbt=0.20.1
dbt version: 0.20.1
python version: 3.7.11
python path: /usr/bin/python3
os info: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
Using profiles.yml file at /root/.dbt/profiles.yml
Using dbt_project.yml file at /content/dbt_demo/dbt_project.yml

Configuration:
  profiles.yml file [OK found and valid]
  dbt_project.yml file [OK found and valid]

Required dependencies:
 - git [OK found]

Connection:
  host: localhost
  port: 5432
  user: postgres
  database: postgres
  schema: public
  search_path: None
  keepalives_idle: 0
  sslmode: None
  Connection test: OK connection ok

### Run dbt sample models

In [ ]:
!apt-get --quiet install tree

In [27]:
!tree ./models

./models
└── example
    ├── my_first_dbt_model.sql
    ├── my_second_dbt_model.sql
    └── schema.yml

1 directory, 3 files

In [28]:
!dbt run

Running with dbt=0.20.1
Found 2 models, 4 tests, 0 snapshots, 0 analyses, 147 macros, 0 operations, 0 seed files, 0 sources, 0 exposures

08:19:55 | Concurrency: 1 threads (target='dev')
08:19:55 |
08:19:55 | 1 of 2 START table model public.my_first_dbt_model................... [RUN]
08:19:55 | 1 of 2 OK created table model public.my_first_dbt_model.............. [SELECT 2 in 0.10s]
08:19:55 | 2 of 2 START view model public.my_second_dbt_model................... [RUN]
08:19:55 | 2 of 2 OK created view model public.my_second_dbt_model.............. [CREATE VIEW in 0.06s]
08:19:55 |
08:19:55 | Finished running 1 table model, 1 view model in 0.30s.

Completed successfully

Done. PASS=2 WARN=0 ERROR=0 SKIP=0 TOTAL=2

### Create new models

Staging

These files are so-called staging models, a pattern commonly used in dbt to prevent access to raw data. Staging models typically simply select from the source data and, if needed, contain some light transformations such as column renamings.

In [29]:
!mkdir -p ./models/taxi/staging

In [30]:
%%writefile ./models/taxi/staging/schema_staging.yml
version: 2

sources:
  - name: source
    schema: public
    tables:
      - name: taxi_zone_lookup
      - name: yellow_tripdata_sample_2019_01

models:
  - name: stg_taxi_zone_lookup
    description: "A list of all taxi zones with codes in NYC"
    columns:
      - name: locationid
        tests:
          - not_null
      - name: borough
        tests:
          - not_null
      - name: zone
        tests:
          - not_null
      - name: service_zone
        tests:
          - not_null
  - name: stg_taxi_trips
    description: "A reduced version of yellow taxi trip data in NYC"
    columns:
      - name: vendor_id
        tests:
          - not_null
          - accepted_values:
              values: ['1', '2', '4']
      - name: pickup_datetime
        tests:
          - not_null
      - name: dropoff_datetime
        tests:
          - not_null
      - name: passenger_count
        tests:
          - not_null
      - name: pickup_location_id
        tests:
          - not_null
      - name: dropoff_location_id
        tests:
          - not_null
      - name: fare_amount
        tests:
          - not_null

Writing ./models/taxi/staging/schema_staging.yml

In [42]:
%%writefile ./models/taxi/staging/stg_taxi_trips.sql
select 
    vendor_id,
    pickup_datetime, 
    dropoff_datetime, 
    passenger_count, 
    pickup_location_id, 
    dropoff_location_id, 
    fare_amount
from {{ source('source', 'yellow_tripdata_sample_2019_01') }}

Overwriting ./models/taxi/staging/stg_taxi_trips.sql

In [41]:
%%writefile ./models/taxi/staging/stg_taxi_zone_lookup.sql
select 
    locationid,
    borough,
    zone,
    service_zone
from {{ source('source', 'taxi_zone_lookup') }}

Writing ./models/taxi/staging/stg_taxi_zone_lookup.sql

Create a New Model

We will now create our first dbt model, which combines data from the two staging models. Let's assume we want to write a query to join the staging tables on the location ID fields and add the actual location names to the pickup and dropoff locations of the taxi ride data.

In [33]:
%%writefile ./models/taxi/trips_with_borough_name.sql
select
    t.vendor_id,
    t.pickup_datetime,
    t.dropoff_datetime,
    z1.borough as pickup_borough,
    z2.borough as dropoff_borough,
    t.passenger_count,
    t.fare_amount
from {{ ref('stg_taxi_trips') }} t
left join {{ ref('stg_taxi_zone_lookup') }} z1
on t.pickup_location_id = z1.locationid
left join {{ ref('stg_taxi_zone_lookup') }} z2
on t.dropoff_location_id = z2.locationid

Writing ./models/taxi/trips_with_borough_name.sql

Create the schema

In [34]:
%%writefile ./models/taxi/schema.yml
version: 2

models:
  - name: trips_with_borough_name
    description: "Combines taxi rides with the borough names for pickup and dropoff locations."
    columns:
      - name: vendor_id
      - name: pickup_datetime
      - name: dropoff_datetime
      - name: pickup_borough
      - name: dropoff_borough
      - name: passenger_count
      - name: fare_amount

Writing ./models/taxi/schema.yml

Configure the dbt_project.yml file

This file defines how the data in the models under taxi will be materialized. Modify the section to replace example with our new taxi directory:

In [38]:
!cat dbt_project.yml

# Name your project! Project names should contain only lowercase characters
# and underscores. A good package name should reflect your organization's
# name or the intended use of these models
name: 'my_new_project'
version: '1.0.0'
config-version: 2

# This setting configures which "profile" dbt uses for this project.
profile: 'default'

# These configurations specify where dbt should look for different types of files.
# The `source-paths` config, for example, states that models in this project can be
# found in the "models/" directory. You probably won't need to change these!
source-paths: ["models"]
analysis-paths: ["analysis"]
test-paths: ["tests"]
data-paths: ["data"]
macro-paths: ["macros"]
snapshot-paths: ["snapshots"]

target-path: "target"  # directory which will store compiled SQL files
clean-targets:         # directories to be removed by `dbt clean`
    - "target"
    - "dbt_modules"


# Configuring models
# Full documentation: https://docs.getdbt.com/docs/configuring-models

# In this example config, we tell dbt to build all models in the example/ directory
# as tables. These settings can be overridden in the individual model files
# using the `{{ config(...) }}` macro.
models:
  my_new_project:
      # Applies to all files under models/example/
      example:
          materialized: view

In [39]:
%%writefile dbt_project.yml
name: 'my_new_project'
version: '1.0.0'
config-version: 2
profile: 'default'
source-paths: ["models"]
analysis-paths: ["analysis"]
test-paths: ["tests"]
data-paths: ["data"]
macro-paths: ["macros"]
snapshot-paths: ["snapshots"]
target-path: "target"
clean-targets:
    - "target"
    - "dbt_modules"
models:
  my_new_project:
      taxi:
          materialized: view

Overwriting dbt_project.yml

Run the new pipeline

In [15]:
!dbt run

Running with dbt=0.20.1
Found 5 models, 16 tests, 0 snapshots, 0 analyses, 147 macros, 0 operations, 0 seed files, 2 sources, 0 exposures

09:16:23 | Concurrency: 1 threads (target='dev')
09:16:23 |
09:16:23 | 1 of 5 START table model public.my_first_dbt_model................... [RUN]
09:16:23 | 1 of 5 OK created table model public.my_first_dbt_model.............. [SELECT 2 in 0.09s]
09:16:23 | 2 of 5 START view model public.stg_taxi_trips........................ [RUN]
09:16:23 | 2 of 5 OK created view model public.stg_taxi_trips................... [CREATE VIEW in 0.06s]
09:16:23 | 3 of 5 START view model public.stg_taxi_zone_lookup.................. [RUN]
09:16:23 | 3 of 5 OK created view model public.stg_taxi_zone_lookup............. [CREATE VIEW in 0.03s]
09:16:23 | 4 of 5 START view model public.my_second_dbt_model................... [RUN]
09:16:23 | 4 of 5 OK created view model public.my_second_dbt_model.............. [CREATE VIEW in 0.04s]
09:16:23 | 5 of 5 START view model public.trips_with_borough_name............... [RUN]
09:16:23 | 5 of 5 OK created view model public.trips_with_borough_name.......... [CREATE VIEW in 0.04s]
09:16:23 |
09:16:23 | Finished running 1 table model, 4 view models in 0.40s.

Completed successfully

Done. PASS=5 WARN=0 ERROR=0 SKIP=0 TOTAL=5

### Running tests

Run the staging schema tests

In [16]:
!dbt test -m stg_taxi_trips stg_taxi_zone_lookup

Running with dbt=0.20.1
Found 5 models, 16 tests, 0 snapshots, 0 analyses, 147 macros, 0 operations, 0 seed files, 2 sources, 0 exposures

09:18:04 | Concurrency: 1 threads (target='dev')
09:18:04 |
09:18:04 | 1 of 12 START test accepted_values_stg_taxi_trips_vendor_id__1__2__4. [RUN]
09:18:04 | 1 of 12 PASS accepted_values_stg_taxi_trips_vendor_id__1__2__4....... [PASS in 0.08s]
09:18:04 | 2 of 12 START test not_null_stg_taxi_trips_dropoff_datetime.......... [RUN]
09:18:04 | 2 of 12 PASS not_null_stg_taxi_trips_dropoff_datetime................ [PASS in 0.03s]
09:18:04 | 3 of 12 START test not_null_stg_taxi_trips_dropoff_location_id....... [RUN]
09:18:04 | 3 of 12 PASS not_null_stg_taxi_trips_dropoff_location_id............. [PASS in 0.03s]
09:18:04 | 4 of 12 START test not_null_stg_taxi_trips_fare_amount............... [RUN]
09:18:05 | 4 of 12 PASS not_null_stg_taxi_trips_fare_amount..................... [PASS in 0.03s]
09:18:05 | 5 of 12 START test not_null_stg_taxi_trips_passenger_count........... [RUN]
09:18:05 | 5 of 12 PASS not_null_stg_taxi_trips_passenger_count................. [PASS in 0.03s]
09:18:05 | 6 of 12 START test not_null_stg_taxi_trips_pickup_datetime........... [RUN]
09:18:05 | 6 of 12 PASS not_null_stg_taxi_trips_pickup_datetime................. [PASS in 0.03s]
09:18:05 | 7 of 12 START test not_null_stg_taxi_trips_pickup_location_id........ [RUN]
09:18:05 | 7 of 12 PASS not_null_stg_taxi_trips_pickup_location_id.............. [PASS in 0.03s]
09:18:05 | 8 of 12 START test not_null_stg_taxi_trips_vendor_id................. [RUN]
09:18:05 | 8 of 12 PASS not_null_stg_taxi_trips_vendor_id....................... [PASS in 0.03s]
09:18:05 | 9 of 12 START test not_null_stg_taxi_zone_lookup_borough............. [RUN]
09:18:05 | 9 of 12 PASS not_null_stg_taxi_zone_lookup_borough................... [PASS in 0.02s]
09:18:05 | 10 of 12 START test not_null_stg_taxi_zone_lookup_locationid......... [RUN]
09:18:05 | 10 of 12 PASS not_null_stg_taxi_zone_lookup_locationid............... [PASS in 0.02s]
09:18:05 | 11 of 12 START test not_null_stg_taxi_zone_lookup_service_zone....... [RUN]
09:18:05 | 11 of 12 FAIL 2 not_null_stg_taxi_zone_lookup_service_zone........... [FAIL 2 in 0.02s]
09:18:05 | 12 of 12 START test not_null_stg_taxi_zone_lookup_zone............... [RUN]
09:18:05 | 12 of 12 FAIL 1 not_null_stg_taxi_zone_lookup_zone................... [FAIL 1 in 0.02s]
09:18:05 |
09:18:05 | Finished running 12 tests in 0.47s.

Completed with 2 errors and 0 warnings:

Failure in test not_null_stg_taxi_zone_lookup_service_zone (models/taxi/staging/schema_staging.yml)
  Got 2 results, configured to fail if != 0

  compiled SQL at target/compiled/my_new_project/models/taxi/staging/schema_staging.yml/schema_test/not_null_stg_taxi_zone_lookup_service_zone.sql

Failure in test not_null_stg_taxi_zone_lookup_zone (models/taxi/staging/schema_staging.yml)
  Got 1 result, configured to fail if != 0

  compiled SQL at target/compiled/my_new_project/models/taxi/staging/schema_staging.yml/schema_test/not_null_stg_taxi_zone_lookup_zone.sql

Done. PASS=10 WARN=0 ERROR=2 SKIP=0 TOTAL=12

Correct the failure

In [17]:
%%writefile ./models/taxi/staging/stg_taxi_zone_lookup.sql
select 
    locationid,
    borough,
    zone,
    service_zone
from {{ source('source', 'taxi_zone_lookup') }} lk
where lk.zone is not null
and lk.service_zone is not null

Overwriting ./models/taxi/staging/stg_taxi_zone_lookup.sql

In [18]:
!dbt run

Running with dbt=0.20.1
Found 5 models, 16 tests, 0 snapshots, 0 analyses, 147 macros, 0 operations, 0 seed files, 2 sources, 0 exposures

09:24:14 | Concurrency: 1 threads (target='dev')
09:24:14 |
09:24:14 | 1 of 5 START table model public.my_first_dbt_model................... [RUN]
09:24:14 | 1 of 5 OK created table model public.my_first_dbt_model.............. [SELECT 2 in 0.09s]
09:24:14 | 2 of 5 START view model public.stg_taxi_trips........................ [RUN]
09:24:14 | 2 of 5 OK created view model public.stg_taxi_trips................... [CREATE VIEW in 0.07s]
09:24:14 | 3 of 5 START view model public.stg_taxi_zone_lookup.................. [RUN]
09:24:15 | 3 of 5 OK created view model public.stg_taxi_zone_lookup............. [CREATE VIEW in 0.04s]
09:24:15 | 4 of 5 START view model public.my_second_dbt_model................... [RUN]
09:24:15 | 4 of 5 OK created view model public.my_second_dbt_model.............. [CREATE VIEW in 0.03s]
09:24:15 | 5 of 5 START view model public.trips_with_borough_name............... [RUN]
09:24:15 | 5 of 5 OK created view model public.trips_with_borough_name.......... [CREATE VIEW in 0.04s]
09:24:15 |
09:24:15 | Finished running 1 table model, 4 view models in 0.40s.

Completed successfully

Done. PASS=5 WARN=0 ERROR=0 SKIP=0 TOTAL=5

In [19]:
!dbt test -m stg_taxi_trips stg_taxi_zone_lookup

Running with dbt=0.20.1
Found 5 models, 16 tests, 0 snapshots, 0 analyses, 147 macros, 0 operations, 0 seed files, 2 sources, 0 exposures

09:24:33 | Concurrency: 1 threads (target='dev')
09:24:33 |
09:24:33 | 1 of 12 START test accepted_values_stg_taxi_trips_vendor_id__1__2__4. [RUN]
09:24:33 | 1 of 12 PASS accepted_values_stg_taxi_trips_vendor_id__1__2__4....... [PASS in 0.06s]
09:24:33 | 2 of 12 START test not_null_stg_taxi_trips_dropoff_datetime.......... [RUN]
09:24:33 | 2 of 12 PASS not_null_stg_taxi_trips_dropoff_datetime................ [PASS in 0.03s]
09:24:33 | 3 of 12 START test not_null_stg_taxi_trips_dropoff_location_id....... [RUN]
09:24:33 | 3 of 12 PASS not_null_stg_taxi_trips_dropoff_location_id............. [PASS in 0.03s]
09:24:33 | 4 of 12 START test not_null_stg_taxi_trips_fare_amount............... [RUN]
09:24:33 | 4 of 12 PASS not_null_stg_taxi_trips_fare_amount..................... [PASS in 0.03s]
09:24:33 | 5 of 12 START test not_null_stg_taxi_trips_passenger_count........... [RUN]
09:24:33 | 5 of 12 PASS not_null_stg_taxi_trips_passenger_count................. [PASS in 0.03s]
09:24:33 | 6 of 12 START test not_null_stg_taxi_trips_pickup_datetime........... [RUN]
09:24:33 | 6 of 12 PASS not_null_stg_taxi_trips_pickup_datetime................. [PASS in 0.03s]
09:24:33 | 7 of 12 START test not_null_stg_taxi_trips_pickup_location_id........ [RUN]
09:24:33 | 7 of 12 PASS not_null_stg_taxi_trips_pickup_location_id.............. [PASS in 0.03s]
09:24:33 | 8 of 12 START test not_null_stg_taxi_trips_vendor_id................. [RUN]
09:24:33 | 8 of 12 PASS not_null_stg_taxi_trips_vendor_id....................... [PASS in 0.03s]
09:24:33 | 9 of 12 START test not_null_stg_taxi_zone_lookup_borough............. [RUN]
09:24:33 | 9 of 12 PASS not_null_stg_taxi_zone_lookup_borough................... [PASS in 0.02s]
09:24:33 | 10 of 12 START test not_null_stg_taxi_zone_lookup_locationid......... [RUN]
09:24:33 | 10 of 12 PASS not_null_stg_taxi_zone_lookup_locationid............... [PASS in 0.02s]
09:24:33 | 11 of 12 START test not_null_stg_taxi_zone_lookup_service_zone....... [RUN]
09:24:33 | 11 of 12 PASS not_null_stg_taxi_zone_lookup_service_zone............. [PASS in 0.02s]
09:24:33 | 12 of 12 START test not_null_stg_taxi_zone_lookup_zone............... [RUN]
09:24:33 | 12 of 12 PASS not_null_stg_taxi_zone_lookup_zone..................... [PASS in 0.02s]
09:24:33 |
09:24:33 | Finished running 12 tests in 0.49s.

Completed successfully

Done. PASS=12 WARN=0 ERROR=0 SKIP=0 TOTAL=12