In [ ]:
import pandas as pd

In [ ]:
!head /content/drive/MyDrive/Final_Dataset.txt

,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
1,2017-05-27,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets
3,2017-05-21,7946,Moana ,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana
4,2017-08-10,7418,The Mermaid Princess ,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
5,2017-07-26,19307,The Mermaid Princess ,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
7,2017-07-07,15860,Churchill ,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill
8,2017-08-19,20775,Beavis And Butt-Head Do America,3,MOVIE,0,0,Animation MovieBeavis And Butt-Head Do America,Animation,0,0,Beavis And Butt-Head Do America
9,2017-06-26,11374,The Mermaid Princess ,33577,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
10,2018-03-29,6358,Coco ,14,MOVIE,0,0,Animation MovieCoco (HD),Animation,0,1,Coco
11,2018-01-27,11660,Kidnap ,85,MOVIE,0,0,Action MovieKidnap (HD),Action,0,1,Kidnap

In [ ]:
df_raw = pd.read_csv('/content/drive/MyDrive/Final_Dataset.txt', index_col=[0])
df_raw.head()

        date_  user_id_maped  ... hd         original_name
1  2017-05-27          26138  ...  0            100 treets
3  2017-05-21           7946  ...  1                 Moana
4  2017-08-10           7418  ...  1  The Mermaid Princess
5  2017-07-26          19307  ...  1  The Mermaid Princess
7  2017-07-07          15860  ...  1             Churchill

[5 rows x 12 columns]

In [ ]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3598607 entries, 1 to 4278704
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   date_             object
 1   user_id_maped     int64
 2   program_name      object
 3   duration_seconds  int64
 4   program_class     object
 5   season            int64
 6   episode           int64
 7   program_desc      object
 8   program_genre     object
 9   series_title      int64
 10  hd                int64
 11  original_name     object
dtypes: int64(6), object(6)
memory usage: 356.9+ MB

In [ ]:
df_raw.program_class.value_counts()

SERIES/EPISODES    2053655
MOVIE              1544952
Name: program_class, dtype: int64

In [ ]:
df = df_raw.copy()

In [ ]:
df = df[df.program_class=='MOVIE']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1544952 entries, 1 to 4278704
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   date_             1544952 non-null  object
 1   user_id_maped     1544952 non-null  int64
 2   program_name      1544952 non-null  object
 3   duration_seconds  1544952 non-null  int64
 4   program_class     1544952 non-null  object
 5   season            1544952 non-null  int64
 6   episode           1544952 non-null  int64
 7   program_desc      1530227 non-null  object
 8   program_genre     1544952 non-null  object
 9   series_title      1544952 non-null  int64
 10  hd                1544952 non-null  int64
 11  original_name     1544952 non-null  object
dtypes: int64(6), object(6)
memory usage: 153.2+ MB

In [ ]:
df_sample = df.sample(frac=1)

In [ ]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1544952 entries, 2268413 to 1968199
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   date_             1544952 non-null  object
 1   user_id_maped     1544952 non-null  int64
 2   program_name      1544952 non-null  object
 3   duration_seconds  1544952 non-null  int64
 4   program_class     1544952 non-null  object
 5   season            1544952 non-null  int64
 6   episode           1544952 non-null  int64
 7   program_desc      1530227 non-null  object
 8   program_genre     1544952 non-null  object
 9   series_title      1544952 non-null  int64
 10  hd                1544952 non-null  int64
 11  original_name     1544952 non-null  object
dtypes: int64(6), object(6)
memory usage: 153.2+ MB

In [ ]:
df_sample = df_sample[['user_id_maped', 'program_name', 'duration_seconds']]
df_sample.columns = ['uid','sid','dur']
df_sample.reset_index(drop=True, inplace=True)
df_sample.head()

     uid                              sid  dur
0  25960                            Bean    15
1  13737  War for the Planet of the Apes    95
2  28002              Battle Los Angeles    45
3   1485                        Geostorm    79
4  23162                      Bad Teacher   98

In [ ]:
df_sample.uid = df_sample.uid.astype('str')

In [ ]:
df = df_sample.copy()

In [ ]:
# dropping exact duplicates
df = df.drop_duplicates()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1120069 entries, 0 to 1544951
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uid     1120069 non-null  object
 1   sid     1120069 non-null  object
 2   dur     1120069 non-null  int64
dtypes: int64(1), object(2)
memory usage: 34.2+ MB

In [ ]:
from sklearn import preprocessing

In [ ]:
# userid normalization
userid_encoder = preprocessing.LabelEncoder()
df.uid = userid_encoder.fit_transform(df.uid)

# itemid normalization
itemid_encoder = preprocessing.LabelEncoder()
df.sid = itemid_encoder.fit_transform(df.sid)

In [ ]:
from scipy import stats
import numpy as np

In [ ]:
df = df[(np.abs(stats.zscore(df['dur'])) < 0.2)] # remove outlier
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992227 entries, 0 to 1544951
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   uid     992227 non-null  int64
 1   sid     992227 non-null  int64
 2   dur     992227 non-null  int64
dtypes: int64(3)
memory usage: 30.3 MB

In [ ]:
import numpy as np

In [ ]:
from sklearn.preprocessing import MinMaxScaler
df['dur'] = MinMaxScaler().fit_transform(np.array(df['dur']).reshape(-1,1))

In [ ]:
df['dur']*=10
df = df[df['dur']!=0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 966014 entries, 0 to 1544951
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   uid     966014 non-null  int64
 1   sid     966014 non-null  int64
 2   dur     966014 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 29.5 MB

In [ ]:
df.columns = ['user_ids', 'item_ids', 'duration']

In [ ]:
# userid normalization
userid_encoder = preprocessing.LabelEncoder()
df.user_ids = userid_encoder.fit_transform(df.user_ids)

# itemid normalization
itemid_encoder = preprocessing.LabelEncoder()
df.item_ids = itemid_encoder.fit_transform(df.item_ids)

In [ ]:
from collections import defaultdict
import random

from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

import numpy as np
import scipy.sparse as sp

In [ ]:
n_users = df.user_ids.nunique()
n_items = df.item_ids.nunique()

user_ids= df.user_ids.values
item_ids = df.item_ids.values
ratings = df.duration.values

ratings_matrix = np.zeros((n_users, n_items))

for user_id, item_id, rating in zip(user_ids, item_ids, ratings):
    ratings_matrix[user_id, item_id] = rating

In [ ]:
ratings_matrix.shape

(28509, 1771)

In [ ]:
n_training_users = int(0.8 * n_users)

# split test / train
train_ids = random.sample(range(n_users),
                            n_training_users)
test_ids = set(range(n_users)) - set(train_ids)
test_ids = list(test_ids)
n_test_users = len(test_ids)

training_matrix = ratings_matrix[train_ids, :]
testing_matrix = ratings_matrix[test_ids, :]
true_ratings = testing_matrix.copy()

# impute unknown ratings
imputer = SimpleImputer(missing_values=0)
training_imputed_matrix = imputer.fit_transform(training_matrix)
testing_imputed_matrix = imputer.transform(testing_matrix)

# imputing culls columns with zero values so we need
# to chop down the original matrices
selected_columns = []
for item_id in range(n_items):
    if not np.isnan(imputer.statistics_[item_id]):
        selected_columns.append(item_id)
        
training_matrix = training_matrix[:, selected_columns]
testing_matrix = testing_matrix[:, selected_columns]
true_ratings = true_ratings[:, selected_columns]

n_remaining_items = training_matrix.shape[1]

# perform predictions
knn = NearestNeighbors()
knn.fit(training_imputed_matrix)

# returns n_test_users x k matrix
neighbor_indices = knn.kneighbors(testing_imputed_matrix,
                                    n_neighbors=10,
                                    return_distance=False)

# compute average ratings for each user
predicted_ratings = np.zeros((n_test_users,
                                n_remaining_items))

for user_id in range(n_test_users):
    neighbors = neighbor_indices[user_id, :]
    predicted_ratings[user_id, :] = np.average(training_imputed_matrix[neighbors, :], axis=0)

# compute RMSE only for items that have been rated
squared_error = 0.0
n = 0
for user_id in range(n_test_users):
    nonzero_ratings = []
    for item_id in range(n_remaining_items):
        if true_ratings[user_id, item_id] > 0.0:
            nonzero_ratings.append(item_id)

    squared_error += np.sum((true_ratings[user_id, nonzero_ratings] - predicted_ratings[user_id, nonzero_ratings]) ** 2)
    n += len(nonzero_ratings)

rmse = np.sqrt(squared_error / n)

print("Root Mean-Squared Error:{}".format(rmse))

Root Mean-Squared Error:0.9480460788700799

In [ ]:
from sklearn import model_selection

train_data, test_data = model_selection.train_test_split(df, test_size=0.20)

In [ ]:
!pip install surprise

In [ ]:
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import NormalPredictor
from surprise import KNNBasic
from surprise import KNNWithMeans
from surprise import KNNWithZScore
from surprise import KNNBaseline
from surprise import SVD
from surprise import BaselineOnly
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import CoClustering
from surprise.accuracy import rmse
from surprise import accuracy
from surprise.model_selection import train_test_split, cross_validate

In [ ]:
min_item_ratings = 50
filter_items = df['item_ids'].value_counts() > min_item_ratings
filter_items = filter_items[filter_items].index.tolist()

min_user_ratings = 50
filter_users = df['user_ids'].value_counts() > min_user_ratings
filter_users = filter_users[filter_users].index.tolist()

df_new = df[(df['item_ids'].isin(filter_items)) & (df['user_ids'].isin(filter_users))]
print('The original data frame shape:\t{}'.format(df.shape))
print('The new data frame shape:\t{}'.format(df_new.shape))

The original data frame shape:	(966014, 3)
The new data frame shape:	(711511, 3)

In [ ]:
# First need to create a 'Reader' object to set the scale/limit of the ratings field
reader = Reader(rating_scale=(0, 10))

# Load the data into a 'Dataset' object directly from the pandas df.
# Note: The fields must be in the order: user, item, rating
data = Dataset.load_from_df(df_new, reader)

In [ ]:
# Load SVD algorithm
model = SVD()

# Train on books dataset
%time cross_validate(model, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.4572  1.4633  1.4572  1.4572  1.4606  1.4591  0.0025
Fit time          53.90   37.58   38.76   37.73   37.65   41.13   6.40
Test time         2.13    1.78    1.72    2.11    1.73    1.89    0.19
CPU times: user 3min 34s, sys: 1.68 s, total: 3min 36s
Wall time: 3min 44s

{'fit_time': (53.90437126159668,
  37.58354115486145,
  38.7568359375,
  37.72971725463867,
  37.65288710594177),
 'test_rmse': array([1.45719028, 1.46325527, 1.45721055, 1.45716736, 1.46057686]),
 'test_time': (2.1334221363067627,
  1.7822003364562988,
  1.7158472537994385,
  2.1105844974517822,
  1.7269630432128906)}

In [ ]:
# set test set to 20%.
trainset, testset = train_test_split(data, test_size=0.2)

# Instantiate the SVD model.
model = SVD()

# Train the algorithm on the training set, and predict ratings for the test set
model.fit(trainset)
predictions = model.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 1.4647

1.464705821290688

In [ ]:
benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

In [ ]:
surprise_results = pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')
surprise_results

                 test_rmse     fit_time   test_time
Algorithm
SlopeOne          1.405546     6.241969   48.725492
BaselineOnly      1.408537     4.109885    2.854497
KNNBaseline       1.424963    56.360742  331.235302
KNNWithMeans      1.429000    52.608553  320.370824
NMF               1.430485    36.635569    3.124747
CoClustering      1.433325    17.599813    3.277632
SVDpp             1.445634  1254.168532   70.228887
KNNWithZScore     1.450774    53.800742  326.792225
KNNBasic          1.452617    54.942405  325.768829
SVD               1.470943    31.046602    3.048383
NormalPredictor   1.865067     1.205629    2.968925

In [ ]:
print('Using ALS')
bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 5
               }
algo = BaselineOnly(bsl_options=bsl_options)
cross_validate(algo, data, measures=['RMSE'], cv=3, verbose=False)

trainset, testset = train_test_split(data, test_size=0.25)
algo = BaselineOnly(bsl_options=bsl_options)
predictions = algo.fit(trainset).test(testset)
accuracy.rmse(predictions)

# dump.dump('./dump_file', predictions, algo)
# predictions, algo = dump.load('./dump_file')
trainset = algo.trainset
print(algo.__class__.__name__)

Using ALS
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
RMSE: 1.4010
BaselineOnly

In [ ]:
def get_Iu(uid):
    """ return the number of items rated by given user
    args: 
      uid: the id of the user
    returns: 
      the number of items rated by the user
    """
    try:
        return len(trainset.ur[trainset.to_inner_uid(uid)])
    except ValueError: # user was not part of the trainset
        return 0

In [ ]:
def get_Ui(iid):
    """ return number of users that have rated given item
    args:
      iid: the raw id of the item
    returns:
      the number of users that have rated the item.
    """
    try: 
        return len(trainset.ir[trainset.to_inner_iid(iid)])
    except ValueError:
        return 0

In [ ]:
df = pd.DataFrame(predictions, columns=['uid', 'iid', 'rui', 'est', 'details'])
df['Iu'] = df.uid.apply(get_Iu)
df['Ui'] = df.iid.apply(get_Ui)
df['err'] = abs(df.est - df.rui)
df.head()

     uid   iid       rui  ...    Iu    Ui       err
0    829  1088  0.285962  ...   392   338  0.050439
1  24023   359  0.008666  ...   122   798  0.168172
2  14854   214  0.017331  ...   109  1582  1.212738
3   4234   581  0.134315  ...  1035    36  0.206766
4   2810   261  0.502600  ...   521   706  0.324563

[5 rows x 8 columns]

In [ ]:
best_predictions = df.sort_values(by='err')[:10]
worst_predictions = df.sort_values(by='err')[-10:]

In [ ]:
best_predictions

          uid   iid       rui  ...    Iu    Ui           err
124635   9943  1404  0.021664  ...  1572   517  6.829412e-07
122072  22168  1410  0.030329  ...   215   690  6.503983e-06
171434   3154   972  0.186308  ...   169   146  6.822254e-06
24421   18047  1051  0.064991  ...   110   189  9.082299e-06
72505    1602   282  0.463605  ...   114   208  9.332962e-06
106719   1738   306  0.181976  ...   101  2029  1.201278e-05
33391    8023  1270  0.290295  ...   295   631  1.438387e-05
22221   15781  1688  0.164645  ...   360   299  1.598568e-05
62543    7561  1571  0.346620  ...    94   106  1.893090e-05
145160  17119   124  0.242634  ...   133   156  2.274699e-05

[10 rows x 8 columns]

In [ ]:
worst_predictions

          uid   iid       rui  ...   Iu    Ui       err
130552  15113  1602  9.913345  ...  147    39  9.575844
43754   15094  1003  9.826690  ...  471   197  9.579737
170826   6549   386  9.852686  ...  340  1376  9.579740
150554  26356   392  9.930676  ...  113  1881  9.603166
49837    4634   974  9.826690  ...  104   766  9.640109
6927     2116  1421  9.649047  ...  135    77  9.649047
2193    15030  1449  9.852686  ...  218   365  9.667688
130875  18229    98  9.995667  ...  728  1382  9.746165
14873   28032   241  9.965338  ...  338   224  9.858139
104988  11307  1673  9.956672  ...  200  1837  9.956672

[10 rows x 8 columns]