In [1]:
import os
project_name = "reco-tut-sjr"; branch = "main"; account = "sparsh-ai"
project_path = os.path.join('/content', project_name)

if not os.path.exists(project_path):
    !cp /content/drive/MyDrive/mykeys.py /content
    import mykeys
    !rm /content/mykeys.py
    path = "/content/" + project_name; 
    !mkdir "{path}"
    %cd "{path}"
    import sys; sys.path.append(path)
    !git config --global user.email "recotut@recohut.com"
    !git config --global user.name  "reco-tut"
    !git init
    !git remote add origin https://"{mykeys.git_token}":x-oauth-basic@github.com/"{account}"/"{project_name}".git
    !git pull origin "{branch}"
    !git checkout main
else:
    %cd "{project_path}"

/content/reco-tut-sjr
Initialized empty Git repository in /content/reco-tut-sjr/.git/
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 15 (delta 1), reused 14 (delta 1), pack-reused 0
Unpacking objects: 100% (15/15), done.
From https://github.com/sparsh-ai/reco-tut-sjr
 * branch            main       -> FETCH_HEAD
 * [new branch]      main       -> origin/main
Branch 'main' set up to track remote branch 'main' from 'origin'.
Switched to a new branch 'main'

In [3]:
import glob
import pandas as pd

In [4]:
files = glob.glob('./data/bronze/*.csv')
files

['./data/bronze/Experience.csv',
 './data/bronze/Job_Views.csv',
 './data/bronze/Positions_Of_Interest.csv']

In [5]:
df1 = pd.read_csv(files[0])
df1.head()

   Applicant.ID  ...               Updated.At
0         10001  ...  2014-12-12 20:10:02 UTC
1         10001  ...  2014-12-12 20:10:02 UTC
2         10001  ...  2014-12-12 20:10:02 UTC
3         10003  ...  2014-12-12 21:27:05 UTC
4         10003  ...  2014-12-12 21:27:05 UTC

[5 rows x 13 columns]

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8653 entries, 0 to 8652
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Applicant.ID          8653 non-null   int64
 1   Position.Name         7703 non-null   object
 2   Employer.Name         8620 non-null   object
 3   City                  4922 non-null   object
 4   State.Name            4595 non-null   object
 5   State.Code            4595 non-null   object
 6   Start.Date            6618 non-null   object
 7   End.Date              4906 non-null   object
 8   Job.Description       5692 non-null   object
 9   Salary                2798 non-null   float64
 10  Can.Contact.Employer  3581 non-null   object
 11  Created.At            8653 non-null   object
 12  Updated.At            8653 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 878.9+ KB

In [7]:
df1.to_parquet('./data/bronze/experience.parquet.gz', compression='gzip')

In [8]:
df2 = pd.read_csv(files[1])
df2.head()

   Applicant.ID  Job.ID  ...               Created.At               Updated.At
0         10000   73666  ...  2014-12-12 20:12:35 UTC  2014-12-12 20:12:35 UTC
1         10000   96655  ...  2014-12-12 20:08:50 UTC  2014-12-12 20:08:50 UTC
2         10001   84141  ...  2014-12-12 20:12:32 UTC  2014-12-12 20:12:32 UTC
3         10002   77989  ...  2014-12-12 20:39:23 UTC  2014-12-12 20:39:23 UTC
4         10002   69568  ...  2014-12-12 20:43:25 UTC  2014-12-12 20:43:25 UTC

[5 rows x 14 columns]

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12370 entries, 0 to 12369
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Applicant.ID   12370 non-null  int64
 1   Job.ID         12370 non-null  int64
 2   Title          12370 non-null  object
 3   Position       12370 non-null  object
 4   Company        11790 non-null  object
 5   City           12370 non-null  object
 6   State.Name     12348 non-null  object
 7   State.Code     12348 non-null  object
 8   Industry       2199 non-null   object
 9   View.Start     12370 non-null  object
 10  View.End       10575 non-null  object
 11  View.Duration  10575 non-null  float64
 12  Created.At     12370 non-null  object
 13  Updated.At     12370 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.3+ MB

In [10]:
df2.to_parquet('./data/bronze/job_views.parquet.gz', compression='gzip')

In [11]:
df3 = pd.read_csv(files[2])
df3.head()

   Applicant.ID  ...               Updated.At
0         10003  ...  2014-12-12 21:20:54 UTC
1         10007  ...  2015-02-26 20:35:12 UTC
2         10007  ...  2015-02-19 23:21:28 UTC
3         10008  ...  2015-02-26 20:35:12 UTC
4         10008  ...  2015-02-18 02:35:06 UTC

[5 rows x 4 columns]

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6560 entries, 0 to 6559
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Applicant.ID          6560 non-null   int64
 1   Position.Of.Interest  6558 non-null   object
 2   Created.At            6560 non-null   object
 3   Updated.At            6560 non-null   object
dtypes: int64(1), object(3)
memory usage: 205.1+ KB

In [13]:
df3.to_parquet('./data/bronze/poi.parquet.gz', compression='gzip')

In [14]:
!cd ./data/bronze && zip -m raw_csv.zip ./*.csv

  adding: Experience.csv (deflated 69%)
  adding: Job_Views.csv (deflated 84%)
  adding: Positions_Of_Interest.csv (deflated 91%)

In [ ]:
!git status

In [ ]:
!git add . && git commit -m 'ADD notebooks' && git push origin main